.header {
    padding: 10px;
    background-color: #25274d;
    color: white;
}

body {
    background-color: #AAABB8;
}

.container {
    background-color: white;
    border: solid black 5px;
}

  /* Footer */
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .portfolioLink {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  .portfolioLink:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  .portfolioLink:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  
  .portfolioLink:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }